@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --backgound-color: #070B09;
    --main-color: #7598A6;
    --accent: #46676C;
    --text-color: #E6EFE9;
}

body {
    background-color: var(--backgound-color);
    color: var(--text-color);
}

.mobile {
    width: 350px;
    height: 100dvh;
}

input {
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--accent);
    font-weight: 500;
}